<h1>
    {{if not .ErrorMessage}}
        Welcome back {{.Name}}
    {{else}}
        Welcome to gokit-auth
    {{end}}
</h1>

<h3>{{.LoginMessage}}</h3>

<div>
    {{if .ErrorMessage}}
        {{.ErrorMessage}}
    {{end}}
</div>
